
.animations {
  width: 100%;
  height: auto;
  clear: both;
}
.animations .basic-transition {
  background: red;
  display: inline-block;
  width: 200px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.animations .basic-transition:hover {
  background: blue;
  margin-left: 100px;
}
.animations .keyframe-animation {
  background: red;
  display: inline-block;
  width: 200px;
  margin: 0;
}
.animations .keyframe-animation:hover {
  animation: slideAround 3s;
}
@keyframes slideAround {
  0% {
    margin-left: 0;
    margin-top: 0;
  }
  25% {
    margin-left: 100px;
    margin-top: 0;
  }
  50% {
    margin-left: 100px;
    margin-top: 100px;
  }
  75% {
    margin-left: 0;
    margin-top: 100px;
  }
  100% {
    margin-left: 0;
    margin-top: 0;
  }
}
